<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="page-title" title="결재 문서 상세조회">
    <title>결재 문서 상세조회</title>
    <link rel="stylesheet" th:href="@{/css/approval/detail.css}">
    <script src="/js/approval/approvalAnswer.js" data-dom-ready></script>
    <script src="/js/approval/approvalAp.js" data-dom-ready></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js" data-dom-ready></script>
</head>
<body>
<div class="approvalDetail_root" id="loadedContent">
    <div class="approval-con">
        <div class="approval-title">
            <h1>결재 문서 상세조회</h1>
            <div class="approval-detail">
                <table class="approval-table">
                    <tr>
                        <td class="td-title"><span th:text="${approval.ApprovalTitle}"></span></td>
                    </tr>
                    <tr>
                        <td><span>작성자 | </span><span th:text="${approval.EmployeeEntity.employeeName}"></span></td>
                    </tr>
                    <tr>
                        <td><span>작성일자 | </span><span
                                th:text="${#temporals.format(approval.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><span>상태 | </span><span th:text="${approval.ApprovalStatus}"></span></td>
                    </tr>
                    <tr>
                        <td><span>결재선 | </span>
                            <div class="aUser">
                                <th:block th:each="approvalUser: ${approvalUserList}">
                                    <div>
                                        <span th:text="|${approvalUser.employeeEntity.employeeName} - ${approvalUser.employeeEntity.employeeDep} - ${approvalUser.employeeEntity.employeePosition}|"></span>
                                        <span th:if="${approvalUser.Ap == 0}">결재</span>
                                        <span th:if="${approvalUser.Ap == 1}">참조</span>
                                    </div>
                                </th:block>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-content"><span th:text="${approval.ApprovalContent}"></span></td>
                    </tr>
                    <tr>
                        <td class="th-last">
                            <ul>
                                <th:block
                                        th:if="${#authentication.principal.employeeEntity.equals(approval.employeeEntity)}">
                                    <li>
                                        <a th:href="@{/approval/delete/{id}(id=${approval.id})}" data-ajax>삭제</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/approval/update/{id}(id=${approval.id})}" data-ajax>수정</a>
                                    </li>
                                </th:block>
                                <li>
                                    <button id="goBackButton">목록</button>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <th:block th:if="${approval.ApprovalStatus.equals('대기')}">
                <div class="approval-Answer">
                    <div class="approval-divide">
                        <hr class="divide">
                        <th:block th:each="approvalUserList : ${approvalUserList}" th:if="${#authentication.principal.employeeEntity.equals(approvalUserList.employeeEntity)
                                                            and approvalUserList.Ap == 0}">
                            <ul>
                                <li>
                                    <button type="button"
                                            id="approvalAnswerBtn">결재
                                    </button>
                                </li>
                            </ul>
                        </th:block>
                    </div>
                    <div class="approval-Result">
                        <form th:action="@{/post/approval/ap}" method="post" th:object="${approvalDto}" id="approvalAp">
                            <table class="approval-table">
                                <tr>
                                    <input type="hidden" readonly name="id" th:value="${approval.Id}"><br>
                                </tr>
                                <tr>
                                    <td class="td-content"><textarea name="ApprovalAnswer" style=" resize: none;"
                                                                     cols="120" rows="3"
                                                                     placeholder="결재 의견"></textarea>
                                </tr>
                                <tr>
                                    <td class="td-submit">
                                        <ul>
                                            <input type="hidden" name="ApprovalStatus" id="approvalStatus" value="">
                                            <li>
                                                <input type="button" value="승인" onclick="setApproval('승인')">
                                            </li>
                                            <li>
                                                <input type="button" value="거부" onclick="setApproval('거부')">
                                            </li>
                                            <li>
                                                <button type="button" id="XBtn">취소</button>
                                            </li>
                                            <input type="submit" value="제출"  style="display: none;">
                                            <a href="/approval/list/read" id="redirection" data-ajax
                                               style="display: none;"></a>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </th:block>
            <th:block th:unless="${approval.ApprovalStatus.equals('대기')}">
                <div class="approval-Answer">
                    <div class="approval-divide">
                        <hr class="divide">
                        <table>
                        <tr>
                            <td class="td-Answer"><span th:text="${approval.ApprovalAnswer}"></span></td>
                        </tr>
                        </table>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>