<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>공지사항 수정</title>
</head>
<body>
<div id="loadedContent">
<h1>공지사항 수정</h1>
<div>
  <form id="updateForm" th:action="@{'/api/notice/'+${notice.id}}" method="post">

    <div>
      <label for="title">제목:</label>
      <input type="text" id="title" name="title" th:value="${notice.title}" required>
    </div>
    <div>
      <label for="content">내용:</label>
      <textarea id="content" name="content" required th:text="${notice.content}"></textarea>
    </div>

    <button type="submit">공지사항 수정</button>
  </form>
</div>
<a href="/notice/list">게시판 목록으로 돌아가기</a>

<script th:inline="javascript">
    let id = /*[[${notice.id}]]*/ null; // 상세 페이지에서 id를 JavaScript 변수에 할당
</script>

<script>
const updateForm = document.getElementById('updateForm');
updateForm.addEventListener('submit', (e) => {
    e.preventDefault();

    const title = document.getElementById('title').value;
    const content = document.getElementById('content').value;
    const data = {
        title: title,
        content: content,
    };

    // 게시물 수정 요청을 보냅니다.
    fetch(`/api/boards/notice/${id}`, {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => {
        if (response.status === 200) {
            alert('게시물이 성공적으로 수정되었습니다.');
                       const redirection = document.getElementById('redirection');
                redirection.click();
        } else if (response.status === 404) {
            alert('게시물 수정에 실패했습니다. 비밀번호가 일치하지 않거나 게시물이 존재하지 않습니다.');
        } else {
            alert('게시물 수정 요청 실패');
        }
    })
    .catch(error => {
        console.error('게시물 수정 요청 실패: ' + error);
    });
});


</script>
</div>
</body>
</html>