<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>날씨API</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7b1a42c4dcdb7bbf54797810adb17304&libraries=services,clusterer,drawing&autoload=false"></script>
  <script src="/js/weather/weather_java.js" data-dom-ready></script>
</head>
<body>
<div id="loadedContent">
  <div class="weather-con">
    <h1>날씨(java)</h1>
    <div class="left-con">
      <div class="weather-search">
        <!-- <input type="search" placeholder="지역입력" id="position" value="Seoul"> -->
        <select name="search" id="search">
          <option value="Seoul">서울</option>
          <option value="Busan">부산</option>
          <option value="Gwangju">광주</option>
          <option value="ChunCheon">춘천</option>
        </select>
        <button onclick="weatherSearch()">검색</button>
      </div>
      <div class="weather-list">
        <div class="city">
          <span class="con"></span>
          <span class="description"></span>
        </div>
        <div class="temp">
          <span>현재온도</span>
          <span class="con"></span>
        </div>
        <div class="feels_like">
          <span>체감온도</span>
          <span class="con"></span>
        </div>
        <div class="temperatureRange"> <!--최저, 최고온도-->
          <span class="con"></span>
        </div>
        <div class="humidity">
          <span>습도</span>
          <span class="con"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="right-con">
    <div class="map-con">
      <div id="map" style="width:1000px;height:700px;"></div>
    </div>
  </div>
</div>
</body>
</html>