<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" th:href="@{/css/employee/changePassword.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/employee/confirmPw_changePassword.js}" data-dom-ready></script>
</head>
<body>
<div id="loadedContent">
<div class="container">
    <div class="nav">
        <div class="change-con">
            <div class="title">
                <h1>비밀번호 변경</h1>
            </div>
            <div class="change-form">
                <form id="changePasswordForm" th:action="@{/api/employee/changePassword}" method="post">
                    <ul>
                        <li class="current">
                            <input type="hidden" name="employeeNo" id="employeeNo" th:value="${employeeNo}">
                            <div class="current-group">
                                <label th:for="currentPassword">현재 비밀번호</label>
                                <div class="writeC">
                                    <input type="password" name="currentPassword" id="currentPassword" placeholder="현재 비밀번호" required="required">
                                    <button type="button" id="checkCurrentPasswordBtn">현재 비밀번호 확인</button>
                                </div>
                            </div>
                            <div class="current-check">
                                <div id="currentPasswordMessage" style="color: red;"></div>
                            </div>
                        </li>
                        <li class="new">
                            <div class="new-group">
                                <label th:for="newPassword">신규 비밀번호</label>
                                <div class="writeN">
                                    <input type="password" name="newPassword" id="newPassword" placeholder="신규 비밀번호" required="required">
                                </div>
                            </div>
                        </li>
                        <li class="newCheck">
                            <div class="newC-group">
                                <label th:for="confirmNewPassword">신규 비밀번호 확인</label>
                                <div class="writeNC">
                                    <input type="password" name="confirmNewPassword" id="confirmNewPassword" placeholder="신규 비밀번호 확인" required="required">
                                </div>
                            </div>
                            <div class="message">
                                <font id="checkMessage" size="4"></font>
                            </div>
                        </li>
                        <li class="changeBtn">
                            <button type="submit" id="changePasswordBtn">비밀번호 변경</button>
                            <a th:href="@{/employee/detail/{employeeNo}(employeeNo=${employee.employeeNo})}" id="redirection" data-ajax style="display: none;"></a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>