<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 확인</title>
    <link rel="stylesheet" th:href="@{/css/employee/confirmPassword_changePw.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/employee/confirmPw_confirmPassword.js/}" data-dom-ready></script>
</head>
<body>
<div id="loadedContent">
    <div class="container">
        <div class="nav">
            <div class="confirm-con">
                <div class="title">
                    <h1>비밀번호 확인</h1>
                </div>
                <div class="confirm-form">
                    <ul>
                        <li class="password">
                            <input type="hidden" name="employeeNo" id="employeeNo" th:value="${employeeNo}">
                            <div class="password-group">
                                <label th:for="currentPassword">비밀번호</label>
                                <div class="writeP">
                                    <input type="password" name="currentPassword" id="currentPassword" placeholder="비밀번호를 입력해주세요" required="required">
                                    <button type="button" id="checkCurrentPasswordBtn">비밀번호 확인</button>
                                </div>
                            </div>
                            <div class="password-feedback">
                                <div id="currentPasswordMessage" style="color: red;"></div>
                            </div>
                        </li>
                        <li class="change">
                            <button type="button" id="changePasswordBtn">비밀번호 변경</button>
                            <a th:href="@{/employee/changePassword/{employeeNo}(employeeNo=${employee.employeeNo})}" id="redirection" data-ajax style="display: none"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

