<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="page-title" title="인사조회">
  <title>인사조회 페이지</title>
  <link rel="stylesheet" th:href="@{/css/employee/employeeList.css}">
  <link rel="stylesheet" th:href="@{/css/employee/modal.css}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:src="@{/js/employee/modal.js}" data-dom-ready></script>
  <script th:src="@{/js/employee/modal2.js}" data-dom-ready></script>
  <script th:src="@{/js/employee/checkDuplicate.js}" data-dom-ready></script> <!-- 아이디, 이메일, 휴대전화번호 중복 검사 -->
  <script th:src="@{/js/employee/confirmPw_join.js}" data-dom-ready></script> <!-- 비밀번호 일치 확인 -->
  <script th:src="@{/js/employee/join.js}" data-dom-ready></script> <!-- 빈칸일 시 사원추가 중단-->
  <script src="http://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> <!-- 카카오 주소 api -->
  <script th:src="@{/js/employee/addressApi.js}" data-dom-ready></script> <!-- 카카오 주소 api -->
  <script th:src="@{/js/employee/join_email.js}" data-dom-ready></script> <!-- 이메일 관련 스크립트 -->
  <script th:src="@{/js/employee/join_validation.js}" data-dom-ready></script> <!-- 아이디, 이름, 휴대전화번호 유효성 검사 -->
  <script th:src="@{/js/employee/modalDetail.js}" defer></script>
</head>
<body>
<div id="loadedContent">
<div class="container">
  <div class="pagingList">
    <div class="pagingList-con">
      <div class="pagingList-table">
        <h1>인사 조회</h1>
        <div class="search">
          <div>
              <th:block sec:authorize="hasAnyRole('ADMIN')">
                <a th:href="@{/employee/join}" data-ajax><span>사원추가</span></a>
                <!-- 모달 창 토글 버튼 -->
<!--                <button id="openModalBtn">모달사원추가</button>-->
              </th:block>
              <a th:href="@{/dashboard}" data-ajax><span>홈</span></a>
          </div>
          <form th:action="@{/employee/employeeList}" method="get">
            <select name="subject" id="subject">
              <option value="employeeName">이름</option>
              <option value="employeeDep">부서</option>
              <option value="employeePosition">직급</option>
              <option value="employeePhone">휴대전화번호</option>
            </select>
            <input type="text" name="search" id="search" th:value="${param.search}" placeholder="검색어를 입력하세요"> <!-- th:value="${param.search}" : 검색어 입력후 실행하고 입력한 검색어 그대로 유지 -->
            <input type="submit" value="검색">
          </form>
        </div>
      <!-- <table style="width:800px;" align="center" border="1";> -->
      <table>
        <thead>
        <tr>
          <th colspan="8">
            현재 로그인 사용자 : <span th:text="${myUserDetails.employeeEntity.employeeName}"></span>,
            권한 : <span th:text="${myUserDetails.employeeEntity.role}"></span>
          </th>
        </tr>
        <tr>
          <th>프로필 이미지</th>
          <th>이름</th>
          <th>부서</th>
          <th>직급</th>
          <th>휴대전화번호</th>
          <th>입사일</th>
          <th>정보수정</th>
          <th>상세보기</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employeeList}">
          <td><div id="image-preview"><img th:src="${employee.imageUrl}" alt="프로필 이미지" style="width: 50px; height: 50px;"></div></td>
          <td th:text="${employee.employeeName}"></td>
          <td th:text="${employee.employeeDep}"></td>
          <td th:text="${employee.employeePosition}"></td>
          <td th:text="${employee.employeePhone}"></td>
          <td th:text="${#temporals.format(employee.createTime, 'yyyy-MM-dd')}"></td>
          <td>
            <a th:href="@{/employee/update/{employeeNo}(employeeNo=${employee.employeeNo})}" data-ajax>수정</a>
          </td>
          <td>
            <a th:href="@{/employee/detail/{employeeNo}(employeeNo=${employee.employeeNo})}" data-ajax>상세보기</a>
          </td>
<!--          <td>-->
<!--            <button id="openDetailModal" th:data-employee-no="${employee.employeeNo}">상세보기</button>-->
<!--          </td>-->
        </tr>
        </tbody>
      </table>
      <div class="paging">
        <ul>
          <li>
            <!-- 현재페이지가  첫번째 페이지이면 span표시 -->
            <span th:if="${1==employeeList.pageable.pageNumber+1}" class="span0">처음</span>
            <!-- 처음 페이지가 아니면  a -->
            <span th:unless="${1==employeeList.pageable.pageNumber+1}">
              <a th:href="@{/employee/employeeList(page=0, search=${param.search}, subject=${param.subject})}" class="span1" data-ajax>처음</a>
            </span>
          </li>
          <li>
            <!-- 이전페이지가  첫번째 페이지이면   span표시 -->
            <span th:if="${1==employeeList.pageable.pageNumber+1}" class="span0">이전</span>
            <span th:unless="${1==employeeList.pageable.pageNumber+1}">
              <!--boardList.pageable.pageNumber 현재페이지 -1 -->
              <a th:href="@{/employee/employeeList(page=${employeeList.pageable.pageNumber-1}, search=${param.search}, subject=${param.subject})}" class="span1" data-ajax>이전</a>
            </span>
          </li>
          <!--페이지 번호-->
          <li th:each="i: ${#numbers.sequence(startPage, endPage)}" class="block">
            <span th:if="${i==employeeList.pageable.pageNumber+1}" th:text="${i}" class="now"></span>
            <a th:unless="${i==employeeList.pageable.pageNumber+1}"
               th:href="@{/employee/employeeList(page=${i-1}, search=${param.search}, subject=${param.subject})}" th:text="${i}" data-ajax=""></a>
          </li>
          <li>
            <!-- 현재페이지가 마지막 페이지이면   span표시 -->
            <span th:if="${employeeList.totalPages ==employeeList.pageable.pageNumber+1}" class="span0">다음</span>
            <!-- 현재페이지가 마지막 페이지아니면    a 표시 현재페이지 +1 -->
            <span th:unless="${employeeList.totalPages ==employeeList.pageable.pageNumber+1}">
               <a th:href="@{/employee/employeeList(page=${employeeList.pageable.pageNumber+1}, search=${param.search}, subject=${param.subject})}"   class="span1" data-ajax>다음</a>
            </span>
          </li>
          <li>
            <!-- 현재페이지가 마지막 페이지이면   span표시 -->
            <span th:if="${employeeList.totalPages ==employeeList.pageable.pageNumber+1}" class="span0">마지막</span>
            <!-- 현재페이지가 마지막 페이지가 아니면 마지막 페이지로 이동 해라  a -->
            <span th:unless="${employeeList.totalPages ==employeeList.pageable.pageNumber+1}">
              <a th:href="@{/employee/employeeList(page=${employeeList.totalPages-1}, search=${param.search}, subject=${param.subject})}"  class="span1" data-ajax>마지막</a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>

  <!-- 모달 창 토글 버튼 -->
<!--  <button id="openModalBtn">사원 추가</button>-->

<!--   모달 창-->
<!--  <div class="loadedContent">-->
<!--  <div id="modalBackground" class="modalBackground"></div>-->
<!--  <div id="myModal" class="modal">-->
<!--    <div class="modal-content">-->
<!--      <span class="close" id="closeModal">&times;</span>-->
<!--        <h2>사원 추가</h2>-->
<!--        <form th:action="@{/employee/join}" method="post" id="signupForm" th:object="${employee}">-->
<!--          <ul>-->
<!--            &lt;!&ndash; 아이디 &ndash;&gt;-->
<!--            <li>-->
<!--              <label th:for="employeeId">아이디</label>-->
<!--              <input type="text" id="employeeId" name="employeeId" required="required" placeholder="영어와 숫자 3글자 이상" class="box">-->
<!--              &lt;!&ndash; 아이디 중복 확인 버튼 &ndash;&gt;-->
<!--              <button type="button" id="idCheckButton">아이디 중복 확인</button>-->
<!--            </li>-->
<!--            <p th:if="${#fields.hasErrors('employeeId')}" th:errors="*{employeeId}" class="error"></p>-->
<!--            <span id="employeeIdErrorMessage" style="color: red;"></span>-->
<!--            &lt;!&ndash; 중복 확인 결과 메시지 영역 &ndash;&gt;-->
<!--            <li>-->
<!--              <d id="idAvailable" class="valid-feedback" style="display: none;"></d>-->
<!--              <d id="idNotAvailable" class="invalid-feedback" style="display: none;"></d>-->
<!--            </li>-->

<!--            &lt;!&ndash; 비밀번호 &ndash;&gt;-->
<!--            <li>-->
<!--              <label th:for="employeePassword">비밀번호</label>-->
<!--              <input type="password" th:field="*{employeePassword}" required="required" placeholder="3글자 이상 입력해주세요" class="box">-->
<!--            </li>-->
<!--            <p th:if="${#fields.hasErrors('employeePassword')}" th:errors="*{employeePassword}" class="error"></p>-->
<!--            <li>-->
<!--              <label th:for="confirmPassword">비밀번호 확인</label>-->
<!--              <input type="password" th:field="*{confirmPassword}" required="required" placeholder="위와 동일한 비밀번호 입력" class="box">-->
<!--            </li>-->
<!--            <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error"></p>-->
<!--            <li><font id="checkMessage" size="2"></font></li>-->

<!--            &lt;!&ndash; 이름 &ndash;&gt;-->
<!--            <li>-->
<!--              <label th:for="employeeName">이름</label>-->
<!--              <input type="text" id="employeeName" name="employeeName" required="required" placeholder="한글과 영문 2글자 이상" class="box">-->
<!--            </li>-->
<!--            <p th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}" class="error"></p>-->
<!--            <span id="employeeNameErrorMessage" style="color: red;"></span> &lt;!&ndash; 이름 유효성 검사 오류 메시지를 표시할 영역 &ndash;&gt;-->

<!--            &lt;!&ndash; 성별 &ndash;&gt;-->
<!--            <li>-->
<!--              <label>성별</label>-->
<!--              <div>-->
<!--                <div class="gender_section">-->
<!--                  <div>-->
<!--                    <input type="radio" id="male" name="employeeGender" value="남" required="required">-->
<!--                    <label for="male">남</label>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <input type="radio" id="female" name="employeeGender" value="여" required="required">-->
<!--                    <label for="female">여</label>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->

<!--            &lt;!&ndash; 휴대전화 &ndash;&gt;-->
<!--            <li>-->
<!--              <label th:for="employeePhone">휴대전화</label>-->
<!--              <input type="text" id="employeePhone" name="employeePhone" required="required" placeholder="- 제외하고 입력해주세요" class="box">-->
<!--              &lt;!&ndash; 휴대전화 중복 확인 버튼 &ndash;&gt;-->
<!--              <button type="button" id="phoneCheckButton">휴대전화 중복 확인</button>-->
<!--            </li>-->
<!--            <p th:if="${#fields.hasErrors('employeePhone')}" th:errors="*{employeePhone}" class="error"></p>-->
<!--            <span id="employeePhoneErrorMessage" style="color: red;"></span> &lt;!&ndash; 휴대전화번호 유효성 검사 오류 메시지를 표시할 영역 &ndash;&gt;-->
<!--            &lt;!&ndash; 중복 확인 결과 메시지 영역 &ndash;&gt;-->
<!--            <li>-->
<!--              <d id="phoneAvailable" class="valid-feedback" style="display: none;"></d>-->
<!--              <d id="phoneNotAvailable" class="invalid-feedback" style="display: none;"></d>-->
<!--            </li>-->

<!--            &lt;!&ndash; 이메일 &ndash;&gt;-->
<!--            <li>-->
<!--              <label>이메일</label>-->
<!--              <div class="email-text">-->
<!--                <input type="text" id="emailId" name="emailId" required="required" placeholder="이메일 아이디 입력" class="emailbox">-->
<!--                <span> @ </span>-->
<!--                <input type="text" id="domainCustom" name="domainCustom" placeholder="도메인 직접 입력" class="domainbox">-->
<!--                <select id="domainList" required="required">-->
<!--                  <option value="custom">직접 입력</option>-->
<!--                  <option value="gmail.com">gmail.com</option>-->
<!--                  <option value="naver.com">naver.com</option>-->
<!--                  <option value="nate.com">nate.com</option>-->
<!--                  <option value="daum.net">daum.net</option>-->
<!--                </select>-->
<!--                <input type="hidden" id="employeeEmail" name="employeeEmail" value="">-->
<!--                <button type="button" id="emailCheckButton">이메일 중복 확인</button>-->
<!--              </div>-->
<!--            </li>-->
<!--            <p th:if="${#fields.hasErrors('employeeEmail')}" th:errors="*{employeeEmail}" class="error"></p>-->
<!--            <span id="emailIdErrorMessage" style="color: red;"></span> &lt;!&ndash; 이메일 아이디 유효성 검사 오류 메시지를 표시할 영역 &ndash;&gt;-->
<!--            &lt;!&ndash; 중복 확인 결과 메시지 영역 &ndash;&gt;-->
<!--            <li>-->
<!--              <d id="emailAvailable" class="valid-feedback" style="display: none;"></d>-->
<!--              <d id="emailNotAvailable" class="invalid-feedback" style="display: none;"></d>-->
<!--            </li>-->

<!--            &lt;!&ndash; 부서 &ndash;&gt;-->
<!--            <li>-->
<!--              <label for="employeeDep">부서</label>-->
<!--              <select id="employeeDep" name="employeeDep" required="required" class="box">-->
<!--                <option value="영업부">영업부</option>-->
<!--                <option value="총무부">총무부</option>-->
<!--                <option value="교육부">교육부</option>-->
<!--              </select>-->
<!--            </li>-->

<!--            &lt;!&ndash; 직급 &ndash;&gt;-->
<!--            <li>-->
<!--              <label for="employeePosition">직급</label>-->
<!--              <select id="employeePosition" name="employeePosition" required="required" class="box">-->
<!--                <option value="부장">부장</option>-->
<!--                <option value="과장">과장</option>-->
<!--                <option value="대리">대리</option>-->
<!--                <option value="사원">사원</option>-->
<!--              </select>-->
<!--            </li>-->

<!--            &lt;!&ndash; 생년월일 &ndash;&gt;-->
<!--            <li>-->
<!--              <label>생년월일</label>-->
<!--              <div class="birth-select">-->
<!--                <select th:field="*{birthYear}" required="required">-->
<!--                  <option th:each="year : ${birthYears}" th:value="${year}" th:text="${year}"></option>-->
<!--                </select>-->
<!--                년-->
<!--                <select th:field="*{birthMonth}" required="required">-->
<!--                  <option th:each="month : ${birthMonths}" th:value="${month}" th:text="${month}"></option>-->
<!--                </select>-->
<!--                월-->
<!--                <select th:field="*{birthDay}" required="required">-->
<!--                  <option th:each="day : ${birthDays}" th:value="${day}" th:text="${day}"></option>-->
<!--                </select>-->
<!--                일-->
<!--              </div>-->
<!--            </li>-->

<!--            &lt;!&ndash; 주소 &ndash;&gt;-->
<!--            <div class="form-group">-->
<!--              <label th:for="employeePostCode">우편번호</label>-->
<!--              <input class="form-control" style="width: 40%; display: inline;" placeholder="우편번호 필수로 입력해주세요" name="employeePostCode" id="employeePostCode" type="text" readonly="readonly" >-->
<!--              <button type="button" class="btn btn-default" onclick="execPostCode();"><i class="fa fa-search"></i> 우편번호 찾기</button>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label th:for="employeeStreetAddress">도로명주소</label>-->
<!--              <input class="form-control" style="top: 5px;" placeholder="도로명주소" name="employeeStreetAddress" id="employeeStreetAddress" type="text" readonly="readonly" />-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label th:for="employeeDetailAddress">상세주소</label>-->
<!--              <input class="form-control" placeholder="상세주소" name="employeeDetailAddress" id="employeeDetailAddress" type="text"  />-->
<!--            </div>-->

<!--            &lt;!&ndash; 사원추가 버튼 &ndash;&gt;-->
<!--            <li class="submitLi">-->
<!--              <div class="joinBtn">-->
<!--                <input type="submit" value="사원 추가" onclick="validateAndSubmit();">-->
<!--              </div>-->
<!--            </li>-->
<!--            <a th:href="@{/employee/employeeList?page=0&subject=&search=}" id="redirection" data-ajax style="display: none;"></a>-->
<!--          </ul>-->
<!--        </form>-->
<!--    </div>-->
<!--  </div>-->
<!--  </div>-->

  <!-- 상세보기 모달 창 -->
<!--  <div class="loadedContent">-->
<!--  <div id="detailModalBackground" class="modalBackground"></div>-->
<!--  <div id="detailModal" class="modal">-->
<!--    <div class="modal-content">-->
<!--      <span class="close" id="closeDetailModal">&times;</span>-->
<!--      <div id="detailContent">-->
<!--        <div class="container">-->
<!--          <div class="nav">-->
<!--            <div class="detail-con">-->
<!--              <div class="title">-->
<!--                <h1><span th:text="${employee.employeeName}" ></span>님 상세정보</h1>-->
<!--              </div>-->
<!--              &lt;!&ndash; 이미지 미리보기 영역 &ndash;&gt;-->
<!--              <div id="image-preview2" class="detail_image-preview"><img id="preview-image2" th:src="${employeeImageUrl}" alt="프로필 이미지" style="width: 100px; height: 100px;"></div>-->
<!--              <th:block th:if="${#authentication.principal.username==employee.employeeId}">-->
<!--            <span class="image_btn">-->
<!--&lt;!&ndash;                <button onclick="redirectToURL()" class="URLBtn">프로필 이미지 수정</button>&ndash;&gt; &lt;!&ndash;&ndash;&gt;-->
<!--                <a th:href="@{/employee/updateImage/{employeeNo}(employeeNo=${employee.employeeNo})}" data-ajax>프로필 이미지 수정</a>-->
<!--            </span>-->
<!--              </th:block>-->
<!--              &lt;!&ndash;            <th:block th:unless="${#authentication.principal.username==employee.employeeId}">&ndash;&gt;-->
<!--              &lt;!&ndash;            <span>&ndash;&gt;-->
<!--              &lt;!&ndash;                본인글이 아닙니다&ndash;&gt;-->
<!--              &lt;!&ndash;            </span>&ndash;&gt;-->
<!--              &lt;!&ndash;            </th:block>&ndash;&gt;-->
<!--              <div class="detail">-->
<!--                <ul>-->
<!--                  &lt;!&ndash;                    <span th:if="${false}" th:text="${employee.employeeNo}"></span> <br> &lt;!&ndash; th:if="${false}" 입력 시 안보이게 처리 &ndash;&gt;&ndash;&gt;-->
<!--                  &lt;!&ndash;                    <span th:if="${false}" th:text="${employee.employeePassword}"></span> <br>&ndash;&gt;-->
<!--                  <li>-->
<!--                    <span>아이디</span>-->
<!--                    <span th:text="${employee.employeeId}"></span>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <span>이름</span>-->
<!--                    <span th:text="${employee.employeeName}"></span>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <span>성별</span>-->
<!--                    <span th:text="${employee.employeeGender}"></span>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <span>휴대전화번호</span>-->
<!--                    <span th:text="${employee.employeePhone}"></span>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <span>이메일</span>-->
<!--                    <span th:text="${employee.employeeEmail}"></span>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <span>부서</span>-->
<!--                    <span th:text="${employee.employeeDep}"></span>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <span>직급</span>-->
<!--                    <span th:text="${employee.employeePosition}"></span>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <span>생년월일</span>-->
<!--                    <span th:text="${employee.employeeBirth}"></span>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <span>주소</span>-->
<!--                    <span th:text="${employee.employeeStreetAddress + ', ' + employee.employeeDetailAddress}"></span>-->
<!--                  </li>-->
<!--                  <th:block sec:authorize="hasAnyRole('ADMIN')">-->
<!--                    <li>-->
<!--                      <span>권한</span>-->
<!--                      <span th:text="${employee.role}"></span>-->
<!--                    </li>-->
<!--                  </th:block>-->
<!--                  <li>-->
<!--                    <span>입사일</span>-->
<!--                    <span th:text="${#temporals.format(employee.createTime, 'yyyy-MM-dd')}"></span>-->
<!--                  </li>-->

<!--                  <div class="employee-detail-submit_section">-->
<!--                    <th:block th:if="${#authentication.principal.username == employee.employeeId or #authorization.expression('hasRole(''ADMIN'')')}">-->
<!--                      <a th:href="@{/employee/update/{employeeNo}(employeeNo=${employee.employeeNo})}" data-ajax>수정</a>-->
<!--                    </th:block>-->
<!--                    <th:block th:if="${#authentication.principal.username != employee.employeeId and #authorization.expression('hasRole(''ADMIN'')')}">-->
<!--                      <a th:href="@{/employee/confirmPassword/delete/{employeeNo}(employeeNo=${employee.employeeNo})}" data-ajax>삭제</a>-->
<!--                    </th:block>-->
<!--                    <th:block sec:authorize="hasAnyRole('ADMIN')">-->
<!--                      <a th:href="@{/employee/employeeList?page=0&subject=&search=}" data-ajax>사원목록</a>-->
<!--                    </th:block>-->
<!--                  </div>-->

<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  </div>-->


</div>
</div>
</body>
</html>