<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>인사조회 페이지</title>
  <link rel="stylesheet" th:href="@{/css/employee/employeeList.css}">
  <link rel="stylesheet" th:href="@{/css/employee/modal.css}">
  <script th:src="@{/js/employee/modal.js}" defer="defer"></script> <!--사원추가 모달 설정-->
  <script th:src="@{/js/employee/modal2.js}" defer="defer"></script> <!--상세보기 모달 설정-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:src="@{/js/employee/checkDuplicate.js}" defer="defer"></script> <!-- 아이디, 이메일, 휴대전화번호 중복 검사 -->
  <script th:src="@{/js/employee/confirmPw_join.js}" defer="defer"></script> <!-- 비밀번호 일치 확인 -->
  <script th:src="@{/js/employee/join.js}" defer="defer"></script> <!-- 빈칸일 시 사원추가 중단-->
  <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script> <!-- 카카오 주소 api -->
  <script th:src="@{/js/employee/addressApi.js}" defer="defer"></script> <!-- 카카오 주소 api -->
  <script th:src="@{/js/employee/join_email.js}" defer="defer"></script> <!-- 이메일 관련 스크립트 -->
  <script th:src="@{/js/employee/join_validation.js}" defer="defer"></script> <!-- 아이디, 이름, 휴대전화번호 유효성 검사 -->
</head>
<body>
<div id="loadedContent">
<div class="container">
  <div class="pagingList">
    <div class="pagingList-con">
      <div class="pagingList-table">
        <h1>인사 조회</h1>
        <div class="search">
<!--          <a th:href="@{/employee/join}"><span>사원추가</span></a>-->
          <!-- 모달 창 토글 버튼 -->
          <th:block sec:authorize="hasAnyRole('ADMIN')">
            <button id="openModalBtn">사원 추가</button>
          </th:block>
          <a th:href="@{/index}"><span>홈</span></a>
          <form th:action="@{/employee/employeeList}" method="get">
            <select name="subject" id="subject">
              <option value="employeeName">이름</option>
              <option value="employeeDep">부서</option>
              <option value="employeePosition">직급</option>
              <option value="employeePhone">휴대전화번호</option>
            </select>
            <input type="text" name="search" id="search" th:value="${param.search}" placeholder="검색어를 입력하세요"> <!-- th:value="${param.search}" : 검색어 입력후 실행하고 입력한 검색어 그대로 유지 -->
            <input type="submit" value="검색">
          </form>
        </div>
      <table style="width:1700px;" align="center" border="1";>
        <thead>
        <tr>
          <th colspan="9">
            현재 로그인 사용자 : <span th:text="${myUserDetails.employeeEntity.employeeName}"></span>,
            권한 : <span th:text="${myUserDetails.employeeEntity.role}"></span>
          </th>
        </tr>
        <tr>
          <th>프로필 이미지</th>
          <th>이름</th>
          <th>부서</th>
          <th>직급</th>
          <th>휴대전화번호</th>
          <th>입사일</th>
          <th>정보수정</th>
          <th>상세보기</th>
          <th>상세보기(모달)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employeeList}">
          <td><div id="image-preview"><img th:src="${employee.imageUrl}" alt="프로필 이미지" style="width: 50px; height: 50px;"></div></td>
          <td th:text="${employee.employeeName}"></td>
          <td th:text="${employee.employeeDep}"></td>
          <td th:text="${employee.employeePosition}"></td>
          <td th:text="${employee.employeePhone}"></td>
          <td th:text="${#temporals.format(employee.createTime, 'yyyy-MM-dd')}"></td>
          <td>
            <a th:href="@{/employee/update/{employeeNo}(employeeNo=${employee.employeeNo})}">수정</a>
          </td>
          <td>
            <a th:href="@{/employee/detail/{employeeNo}(employeeNo=${employee.employeeNo})}" class="detail-link" data-employee-no="${employee.employeeNo}">상세보기</a>
          </td>
          <td>
<!--            <a th:href="@{/employee/detail/{employeeNo}(employeeNo=${employee.employeeNo})}" class="detail-link" data-employee-no="${employee.employeeNo}">상세보기</a>-->
            <button id="openDetailModalBtn" th:data-employee-no="${employee.employeeNo}" onclick="openDetailModal(this)">상세보기</button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="paging">
        <ul>
          <li>
            <!-- 현재페이지가  첫번째 페이지이면 span표시 -->
            <span th:if="${1==employeeList.pageable.pageNumber+1}" class="span0">처음</span>
            <!-- 처음 페이지가 아니면  a -->
            <span th:unless="${1==employeeList.pageable.pageNumber+1}">
              <a th:href="@{/employee/employeeList(page=0, search=${param.search}, subject=${param.subject})}" class="span1">처음</a>
            </span>
          </li>
          <li>
            <!-- 이전페이지가  첫번째 페이지이면   span표시 -->
            <span th:if="${1==employeeList.pageable.pageNumber+1}" class="span0">이전</span>
            <span th:unless="${1==employeeList.pageable.pageNumber+1}">
              <!--boardList.pageable.pageNumber 현재페이지 -1 -->
              <a th:href="@{/employee/employeeList(page=${employeeList.pageable.pageNumber-1}, search=${param.search}, subject=${param.subject})}" class="span1">이전</a>
            </span>
          </li>
          <!--페이지 번호-->
          <li th:each="i: ${#numbers.sequence(startPage, endPage)}" class="block">
            <span th:if="${i==employeeList.pageable.pageNumber+1}" th:text="${i}" class="now"></span>
            <a th:unless="${i==employeeList.pageable.pageNumber+1}"
               th:href="@{/employee/employeeList(page=${i-1}, search=${param.search}, subject=${param.subject})}" th:text="${i}"></a>
          </li>
          <li>
            <!-- 현재페이지가 마지막 페이지이면   span표시 -->
            <span th:if="${employeeList.totalPages ==employeeList.pageable.pageNumber+1}" class="span0">다음</span>
            <!-- 현재페이지가 마지막 페이지아니면    a 표시 현재페이지 +1 -->
            <span th:unless="${employeeList.totalPages ==employeeList.pageable.pageNumber+1}">
               <a th:href="@{/employee/employeeList(page=${employeeList.pageable.pageNumber+1}, search=${param.search}, subject=${param.subject})}"   class="span1">다음</a>
            </span>
          </li>
          <li>
            <!-- 현재페이지가 마지막 페이지이면   span표시 -->
            <span th:if="${employeeList.totalPages ==employeeList.pageable.pageNumber+1}" class="span0">마지막</span>
            <!-- 현재페이지가 마지막 페이지가 아니면 마지막 페이지로 이동 해라  a -->
            <span th:unless="${employeeList.totalPages ==employeeList.pageable.pageNumber+1}">
              <a th:href="@{/employee/employeeList(page=${employeeList.totalPages-1}, search=${param.search}, subject=${param.subject})}"  class="span1">마지막</a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>

  <!-- 모달 창 토글 버튼 -->
<!--  <button id="openModalBtn">사원 추가</button>-->

  <!-- 모달 창 -->
  <div id="modalBackground" class="modalBackground"></div>
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close" id="closeModal">&times;</span>
        <h2>사원 추가</h2>
        <form th:action="@{/employee/join}" method="post" id="signupForm" th:object="${employee}">
          <ul>
            <!-- 아이디 -->
            <li>
              <label th:for="employeeId">아이디</label>
              <input type="text" id="employeeId" name="employeeId" required="required" placeholder="영어와 숫자 3글자 이상" class="box">
              <!-- 아이디 중복 확인 버튼 -->
              <button type="button" id="idCheckButton">아이디 중복 확인</button>
            </li>
            <p th:if="${#fields.hasErrors('employeeId')}" th:errors="*{employeeId}" class="error"></p>
            <span id="employeeIdErrorMessage" style="color: red;"></span>
            <!-- 중복 확인 결과 메시지 영역 -->
            <li>
              <d id="idAvailable" class="valid-feedback" style="display: none;"></d>
              <d id="idNotAvailable" class="invalid-feedback" style="display: none;"></d>
            </li>

            <!-- 비밀번호 -->
            <li>
              <label th:for="employeePassword">비밀번호</label>
              <input type="password" th:field="*{employeePassword}" required="required" placeholder="3글자 이상 입력해주세요" class="box">
            </li>
            <p th:if="${#fields.hasErrors('employeePassword')}" th:errors="*{employeePassword}" class="error"></p>
            <li>
              <label th:for="confirmPassword">비밀번호 확인</label>
              <input type="password" th:field="*{confirmPassword}" required="required" placeholder="위와 동일한 비밀번호 입력" class="box">
            </li>
            <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error"></p>
            <li><font id="checkMessage" size="2"></font></li>

            <!-- 이름 -->
            <li>
              <label th:for="employeeName">이름</label>
              <input type="text" id="employeeName" name="employeeName" required="required" placeholder="한글과 영문 2글자 이상" class="box">
            </li>
            <p th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}" class="error"></p>
            <span id="employeeNameErrorMessage" style="color: red;"></span> <!-- 이름 유효성 검사 오류 메시지를 표시할 영역 -->

            <!-- 휴대전화 -->
            <li>
              <label th:for="employeePhone">휴대전화</label>
              <input type="text" id="employeePhone" name="employeePhone" required="required" placeholder="- 제외하고 입력해주세요" class="box">
              <!-- 휴대전화 중복 확인 버튼 -->
              <button type="button" id="phoneCheckButton">휴대전화 중복 확인</button>
            </li>
            <p th:if="${#fields.hasErrors('employeePhone')}" th:errors="*{employeePhone}" class="error"></p>
            <span id="employeePhoneErrorMessage" style="color: red;"></span> <!-- 휴대전화번호 유효성 검사 오류 메시지를 표시할 영역 -->
            <!-- 중복 확인 결과 메시지 영역 -->
            <li>
              <d id="phoneAvailable" class="valid-feedback" style="display: none;"></d>
              <d id="phoneNotAvailable" class="invalid-feedback" style="display: none;"></d>
            </li>

            <!-- 이메일 -->
            <li>
              <label>이메일</label>
              <div class="email-text">
                <input type="text" id="emailId" name="emailId" required="required" placeholder="이메일 아이디 입력" class="emailbox">
                <span> @ </span>
                <input type="text" id="domainCustom" name="domainCustom" placeholder="도메인 직접 입력" class="domainbox">
                <select id="domainList" required="required">
                  <option value="custom">직접 입력</option>
                  <option value="gmail.com">gmail.com</option>
                  <option value="naver.com">naver.com</option>
                  <option value="nate.com">nate.com</option>
                  <option value="daum.net">daum.net</option>
                </select>
                <input type="hidden" id="employeeEmail" name="employeeEmail" value="">
                <button type="button" id="emailCheckButton">이메일 중복 확인</button>
              </div>
            </li>
            <p th:if="${#fields.hasErrors('employeeEmail')}" th:errors="*{employeeEmail}" class="error"></p>
            <span id="emailIdErrorMessage" style="color: red;"></span> <!-- 이메일 아이디 유효성 검사 오류 메시지를 표시할 영역 -->
            <!-- 중복 확인 결과 메시지 영역 -->
            <li>
              <d id="emailAvailable" class="valid-feedback" style="display: none;"></d>
              <d id="emailNotAvailable" class="invalid-feedback" style="display: none;"></d>
            </li>

            <!-- 부서 -->
            <li>
              <label for="employeeDep">부서</label>
              <select id="employeeDep" name="employeeDep" required="required" class="box">
                <option value="영업부">영업부</option>
                <option value="총무부">총무부</option>
                <option value="교육부">교육부</option>
                <option value="마케팅부">마케팅부</option>
              </select>
            </li>

            <!-- 직급 -->
            <li>
              <label for="employeePosition">직급</label>
              <select id="employeePosition" name="employeePosition" required="required" class="box">
                <option value="부장">부장</option>
                <option value="부장">과장</option>
                <option value="대리">대리</option>
                <option value="사원">사원</option>
              </select>
            </li>

            <!-- 생년월일 -->
            <li>
              <label>생년월일</label>
              <div class="birth-select">
                <select th:field="*{birthYear}" required="required">
                  <option th:each="year : ${birthYears}" th:value="${year}" th:text="${year}"></option>
                </select>
                년
                <select th:field="*{birthMonth}" required="required">
                  <option th:each="month : ${birthMonths}" th:value="${month}" th:text="${month}"></option>
                </select>
                월
                <select th:field="*{birthDay}" required="required">
                  <option th:each="day : ${birthDays}" th:value="${day}" th:text="${day}"></option>
                </select>
                일
              </div>
            </li>

            <!-- 주소 -->
            <div class="form-group">
              <label th:for="employeePostCode">우편번호</label>
              <input class="form-control" style="width: 40%; display: inline;" placeholder="우편번호 필수로 입력해주세요" name="employeePostCode" id="employeePostCode" type="text" readonly="readonly" >
              <button type="button" class="btn btn-default" onclick="execPostCode();"><i class="fa fa-search"></i> 우편번호 찾기</button>
            </div>
            <div class="form-group">
              <label th:for="employeeStreetAddress">도로명주소</label>
              <input class="form-control" style="top: 5px;" placeholder="도로명주소" name="employeeStreetAddress" id="employeeStreetAddress" type="text" readonly="readonly" />
            </div>
            <div class="form-group">
              <label th:for="employeeDetailAddress">상세주소</label>
              <input class="form-control" placeholder="상세주소" name="employeeDetailAddress" id="employeeDetailAddress" type="text"  />
            </div>

            <!-- 사원추가 버튼 -->
            <li class="submitLi">
              <div class="joinBtn">
                <input type="submit" value="사원 추가" onclick="validateAndSubmit();">
              </div>
            </li>
          </ul>
        </form>
    </div>
  </div>
  <!-- 상세보기 모달 창 -->
  <div id="detailModalBackground" class="modalBackground"></div>
  <div id="detailModal" class="modal">
    <div class="modal-content">
      <span class="close" id="closeDetailModal">&times;</span>
      <h2>사원 상세정보</h2>
      <div id="detailContent">

      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>