<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" th:href="@{/css/employee/temp.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/employee/tempPassword.js}" defer></script>
</head>
<body>
<div class="container">
    <div class="temp_box">
        <form id="tempPasswordForm" th:action="@{/api/send-mail/password}" method="post" class="temp_form">
            <h1 class="logo">비밀번호 찾기</h1>
                <span>이메일</span><input type="email" id="employeeEmail" name="employeeEmail" placeholder="이메일 입력" required>
                <span>휴대전화번호</span><input type="text" id="employeePhone" name="employeePhone" placeholder="휴대전화번호 입력" required>
            <input type="submit" value="임시비밀번호 발급" class="temp_btn">
            <div class="login">
                <a th:href="@{/login}"><span>로그인</span></a>
            </div>
        </form>
<!--        <div id="tempPasswordMessage" style="display: none;" class="password"></div>-->
    </div>
</div>
<!-- 모달 창 -->
<div id="tempModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <p id="tempPasswordMessage"></p>
        <p id="tempEmail"></p>
    </div>
</div>
</body>
</html>