<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>프로필 이미지 수정</title>
    <link rel="stylesheet" th:href="@{/css/employee/updateImage.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/employee/detail.js}" data-dom-ready></script>
</head>
<body>
<div id="loadedContent">
<div class="container">
    <div class="nav">
        <div class="updateImage-con">
            <div class="title">
                <h1><span th:text="${employee.employeeName}" ></span>님 이미지 수정</h1>
            </div>
            <!-- 이미지 미리보기 영역 -->
<!--            <div id="image-preview1"><img id="preview-image1" th:src="${employeeImageUrl}" alt="프로필 이미지" style="width: 100px; height: 100px;"></div>-->
            <div id="image-preview1" class="updateImage_image-preview"><img id="preview-image1" th:src="${employeeImageUrl}" alt="프로필 이미지" style="width: 100px; height: 100px;"></div>
            <!-- 버튼을 클릭하면 /image/upload로 POST 요청 보내기 -->
            <form action="/images/upload" method="post" enctype="multipart/form-data">
                <ul>
                    <li>
                        <input type="file" name="file" id="file-input" onchange="enableUploadButton()"> <!-- 파일 업로드 필드 -->
                        <button type="button" id="delete-button">프로필 이미지 삭제</button>
                    </li>
                    <li>
                        <div class="updateImage-btn_box">
                            <button type="submit" id="upload-button" disabled>적용</button>
                            <button type="button" onclick="javascript:history.back()">수정취소</button>
                            <a th:href="@{/employee/detail/{employeeNo}(employeeNo=${employee.employeeNo})}" data-ajax>상세보기</a>
                        </div>
                        <a th:href="@{/employee/detail/{employeeNo}(employeeNo=${employee.employeeNo})}" id="redirection" data-ajax style="display: none;"></a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>