<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="page-title" title="사원수정">
  <title>정보수정 페이지</title>
  <link rel="stylesheet" th:href="@{/css/employee/update.css}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="http://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> <!--다음 api 관련 js-->
  <script th:src="@{/js/employee/addressApi.js}" data-dom-ready></script> <!--다음 api 관련 js-->
  <script th:src="@{/js/employee/update_birth.js}" data-dom-ready></script>
  <script th:src="@{/js/employee/update.js}" data-dom-ready></script>
</head>
<body>
<div id="loadedContent">
<div class="container">
  <div class="nav">
    <div class="update-con">
      <div class="title">
        <h1><span th:text="${employeeDto.employeeName}" ></span>님 정보 수정</h1>
      </div>
      <form th:action="@{/post/employee/update}" method="post" th:object="${employeeDto}">
        <ul>
          <li>
            <span>사원번호</span>
            <input type="text" name="employeeNo" th:value="${employeeDto.employeeNo}" id="employeeNo" readonly> <br>
          </li>
          <li>
            <span>아이디</span>
            <input type="text" name="employeeId" th:value="${employeeDto.employeeId}" id="employeeId" readonly> <br>
          </li>
          <li>
            <span>비밀번호</span>
            <input type="password" name="employeePassword" th:value="${employeeDto.employeePassword}" id="employeePassword" readonly> <br>
          </li>
          <li>
            <label th:for="employeeName">이름</label>
            <input type="text" th:field="*{employeeName}" th:value="${employeeDto.employeeName}" required="required" placeholder="이름을 입력하세요"> <br>
          </li>
          <p th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}" class="error"></p>
          <li>
            <div class="gender-and-class_section">
                <div>
                    <label>성별</label>
                    <div>
                        <input type="radio" id="male" name="employeeGender" value="남" required="required" th:checked="${employeeDto.employeeGender == '남'}">
                        <label for="male">남</label>
                        <input type="radio" id="female" name="employeeGender" value="여" required="required" th:checked="${employeeDto.employeeGender == '여'}">
                        <label for="female">여</label>
                    </div>
                </div>
            </div>
          </li>
          <li>
            <span>휴대전화번호</span>
            <input type="text" name="employeePhone" th:value="${employeeDto.employeePhone}" id="employeePhone" readonly> <br>
          </li>
          <li>
            <span>이메일</span>
            <input type="email" name="employeeEmail" th:value="${employeeDto.employeeEmail}" id="employeeEmail" readonly> <br>
          </li>
          <th:block sec:authorize="hasAnyRole('EMPLOYEE')">
            <li>
                <span>부서</span>
                <input type="text" name="employeeDep" th:value="${employeeDto.employeeDep}" id="employeeDep1" readonly> <br>
            </li>
            <li>
                <span>직급</span>
                <input type="text" name="employeePosition" th:value="${employeeDto.employeePosition}" id="employeePosition1" readonly> <br>
            </li>
          </th:block>
          <th:block sec:authorize="hasAnyRole('ADMIN')">
            <li>
              <label for="employeeDep">부서</label>
              <select id="employeeDep" name="employeeDep" required="required" class="box">
                <option value="영업부" th:selected="${employee.employeeDep == '영업부'}">영업부</option>
                <option value="총무부" th:selected="${employee.employeeDep == '총무부'}">총무부</option>
                <option value="교육부" th:selected="${employee.employeeDep == '교육부'}">교육부</option>
              </select>
            </li>
            <li>
              <label for="employeePosition">직급</label>
              <select id="employeePosition" name="employeePosition" required="required" class="box">
                <option value="부장" th:selected="${employee.employeePosition == '부장'}">부장</option>
                <option value="부장" th:selected="${employee.employeePosition == '과장'}">과장</option>
                <option value="대리" th:selected="${employee.employeePosition == '대리'}">대리</option>
                <option value="사원" th:selected="${employee.employeePosition == '사원'}">사원</option>
              </select>
            </li>
          </th:block>
          <li>
            <label th:for="employeeBirth">생년월일</label>
            <input type="text" th:field="*{employeeBirth}" th:value="${employeeDto.employeeBirth}" required="required" placeholder="생년월일을 입력하세요" onclick="toggleBirthDropdowns(); validateBirth(this);" readonly>
            <!-- 오류 메시지를 표시할 영역 -->
            <span id="birthErrorMessage" style="color: red;"></span> <br>

            <p th:if="${#fields.hasErrors('employeeBirth')}" th:errors="*{employeeBirth}" class="error"></p>

            <!-- 드롭다운 선택 영역 -->
            <div id="birthDropdowns" style="display: none;">
              <select th:field="*{birthYear}" required="required" onchange="updateBirthInput()">
                <option th:each="year : ${birthYears}" th:value="${year}" th:text="${year}"></option>
              </select>
              년
              <select th:field="*{birthMonth}" required="required" onchange="updateBirthInput()">
                <option th:each="month : ${birthMonths}" th:value="${month}" th:text="${month}"></option>
              </select>
              월
              <select th:field="*{birthDay}" required="required" onchange="updateBirthInput()">
                <option th:each="day : ${birthDays}" th:value="${day}" th:text="${day}"></option>
              </select>
              일
            </div>
          </li>

          <li>
            <label th:for="employeePostCode">우편번호</label>
            <input type="text" th:field="*{employeePostCode}" th:value="${employeeDto.employeePostCode}" required="required" readonly>
            <div class="postcode-btn_box">
                <button type="button" class="btn btn-default" onclick="execPostCode();"><i class="fa fa-search"></i> 우편번호 찾기</button>
            </div>
            <p th:if="${#fields.hasErrors('employeePostCode')}" th:errors="*{employeePostCode}" class="error"></p>
          </li>

          <li>
            <label th:for="employeeStreetAddress">도로명주소</label>
            <input type="text" th:field="*{employeeStreetAddress}" th:value="${employeeDto.employeeStreetAddress}" placeholder="도로명주소를 입력하세요" readonly> <br>
          </li>
          <li>
            <label th:for="employeeDetailAddress">상세주소</label>
            <input type="text" th:field="*{employeeDetailAddress}" th:value="${employeeDto.employeeDetailAddress}" placeholder="상세주소를 입력하세요"> <br>
          </li>
          <th:block sec:authorize="hasAnyRole('EMPLOYEE')">
            <li>
              <label th:for="role">권한</label>
              <input type="text" th:field="*{role}" th:value="${employeeDto.role}" readonly> <br>
            </li>
          </th:block>
          <th:block sec:authorize="hasAnyRole('ADMIN')">
            <li>
              <label for="role">권한</label>
              <select id="role" name="role" required="required" class="box">
                <option value="EMPLOYEE" th:selected="${employeeDto.role == 'EMPLOYEE'}">일반</option>
                <option value="ADMIN" th:selected="${employeeDto.role == 'ADMIN'}">관리자</option>
              </select>
            </li>
          </th:block>
          <div class="employee-info-update-btn_box">
              <button type="button" onclick="javascript:history.back()">수정취소</button>
              <input type="submit" value="수정실행">
          </div>
          <th:block th:if="${#authentication.principal.username==employee.employeeId}">
            <a th:href="@{/employee/confirmPassword/password/{employeeNo}(employeeNo=${employeeDto.employeeNo})}" data-ajax>비밀번호 변경</a>
          </th:block>
          <a th:href="@{/employee/detail/{employeeNo}(employeeNo=${employeeDto.employeeNo})}" id="redirection" data-ajax style="display: none;"></a>
        </ul>
      </form>
    </div>
  </div>
</div>
</div>
<!--<script>-->
<!--  // 생년월일 유효성 검사 함수-->
<!--  function validateBirth() {-->
<!--      var birth = document.getElementById('employeeBirth').textContent;-->

<!--      if (!/^[0-9]{8}$/.test(birth)) {-->
<!--          document.getElementById('birthErrorMessage').textContent = "올바른 형식으로 입력해주세요 (8자리 숫자)";-->
<!--      } else {-->
<!--          document.getElementById('birthErrorMessage').textContent = "";-->
<!--      }-->
<!--  }-->
<!--  // 페이지 로드 시 유효성 검사 수행-->
<!--  window.onload = validateBirth;-->
<!--</script>-->
</body>
</html>

