@import url(/css/common/reset.css);
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Giants-Inline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: Pretendard;
}


.root {
    height: 100vh;
    /* background-color: #f7f8fa; */
    position: relative;
    /* background-image: url("/images/login/milad-fakurian-HE1_K4_-QT8-unsplash-green.png"); */
    background-image: url("/images/login/jean-philippe-delberghe-75xPHEQBmvA-unsplash-fixed-lowRes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    font-family: Giants-Inline;
    font-size: 20px;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

.login_box {
    /* height: 300px; */
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px 0px #dddddd;
    padding: 35px 50px 50px 50px;
    border-radius: 5px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: inherit;
}

.login_form span {
    margin-top: 13px;
    margin-bottom: 4px;
    font-size: 12px;
    color: #7f8088;
}

.login_form input[type="text"], input[type="password"] {
    height: 34px;
    background-color: #e4f1f7;
    border: none;
    border-radius: 5px;
    padding: 0px 10px;
    letter-spacing: -0.04rem;
}

.login_form a{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 10px;
}

.auto-login_box {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 5px;
}
.auto-login_box span {
    margin: 0 0 0 5px;
}

.login_btn {
    height: 35px;
    margin-top: 12px;
    background-image: linear-gradient(to right, #6eaebe, #88c6af);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 0px 3px 0px #d0d0d0;
}

.find-account_box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 65px 0 65px;
    margin-top: 15px;
}

.find-account_box span {
    margin-top: 0px;
    margin-bottom: 0px;    
}