<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="page-title" title="급여목록">
    <title>급여 페이지 리스트</title>
    <link rel="stylesheet" th:href="@{/css/salary/salaryPageList.css}">
<!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--    <script th:src="@{/js/salary/salaryPageList.js}" defer="defer"></script>-->
</head>
<body>
<div id="loadedContent">
    <div class="container">
        <div class="salaryList">
            <div class="salaryList-con">
                <div class="search">
                    <div class="search-con">
                        <form th:action="@{/salary/page}" method="get" data-ajax>
                            <select name="subject" id="subject" th:value="${param.subject}">
                                <!--년도, 상반기, 하반기-->
                                <option value="0">전체</option>
                                <option value="2023">2023</option>
                                <option value="2022">2022</option>
                            </select>

                            <select name="set" id="set" th:value="${param.set}">
                                <option value="0">전체</option>
                                <option value="99">직접입력</option>
                                <option value="30">이번달</option>
                                <option value="100">상반기(1~6)</option>
                                <option value="77">하반기(7~12)</option>
                                <!--                                <option value="90">세달</option>-->
                                <option value="1">1월</option>
                                <option value="2">2월</option>
                                <option value="3">3월</option>
                                <option value="4">4월</option>
                                <option value="5">5월</option>
                                <option value="6">6월</option>
                                <option value="7">7월</option>
                                <option value="8">8월</option>
                                <option value="9">9월</option>
                                <option value="10">10월</option>
                                <option value="11">11월</option>
                                <option value="12">12월</option>
                            </select>
                            <!--            표현식설정-->
                            <!--                        <input type="text" name="first" id="first" th:value="${param.first}" placeholder="시작일">-->
                            <!--                        <input type="text" name="last" id="last" th:value="${param.last}" placeholder="끝일">-->

                            <input type="date" name="first" id="first"  placeholder="시작일">
                            <!--                        min="2019-09-10" max="2019-09-25"-->
                            <input type="date" name="last" id="last"  placeholder="끝일">
                            <!--                        min="2019-09-10" max="2019-09-25"-->
                            <input type="submit" value="검색">
                        </form>
                        <th:block sec:authorize="hasAnyRole('ADMIN')" style="float:right">
                            <a th:href="@{/salary/calculator}" data-ajax>
                                <li>
                                    <span>이달 급여 지급</span>
                                </li>
                            </a>
                        </th:block>
                    </div>
                </div>


                <table>
                    <thead>
                    <tr class="th1">
                        <th colspan="8">급여 리스트</th>
                    </tr>
                    <tr class="th2">
                        <th> id</th>
                        <th> 사원</th>
                        <!--                        <th> 학생</th>-->
                        <th style="width: 300px;"> 기본급</th>
                        <!--                        <th> 추가급</th>-->
                        <th style="width: 300px;"> 지급일</th>
                        <th> 상세</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="salaryDto :${salaryDtoPage}">
                        <td th:text="${salaryDto.id}"></td>
                        <td th:text="${salaryDto.employee?.employeeName}"></td>
                        <!--                        <td th:text="${salaryDto.student?.studentName}"></td>-->
                        <td th:text="${salaryDto.baseSalary}"></td>
                        <!--                        <td th:text="${salaryDto.extraSalary}"></td>-->
                        <td th:text="${salaryDto.salaryDate}"></td>
                        <!--                        <td th:text="${#temporals.format(salaryDto.salaryDate, 'yy.MM.dd/HH:mm')}"></td>-->
                        <td>
                            <a th:href="@{/salary/detail/{id}(id=${salaryDto.id})}" data-ajax>상세조회</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="paging">
                    <ul>
                        <li>
                            <span th:if="${1==salaryDtoPageNo.pageable.pageNumber+1}" class="span0">처음</span>
                            <span th:unless="${1==salaryDtoPageNo.pageable.pageNumber+1}">
                                    <a th:href="@{/salary/page(page=0,set=${param.set} ,subject=${param.subject})}"
                                       class="span1" data-ajax>처음</a>
                                    </span>
                        </li>

                        <li>
                            <!-- 첫페이지 -->
                            <span th:if="${1==salaryDtoPageNo.pageable.pageNumber+1}" class="span0">이전</span>
                            <span th:unless="${1==salaryDtoPageNo.pageable.pageNumber+1}">
                                        <a th:href="@{/salary/page(page=${salaryDtoPageNo.pageable.pageNumber-1},set=${param.set} ,subject=${param.subject})}"
                                           class="span1" data-ajax>이전</a>
                                     </span>
                        </li>


                        <li th:each="i : ${#numbers.sequence(startPage, endPage)}" class="block">
                                    <span th:if="${i == salaryDtoPageNo.pageable.pageNumber+1}" th:text="${i}"
                                          class="now"></span>

                            <a th:unless="${i == salaryDtoPageNo.pageable.pageNumber+1}"
                               th:href="@{/salary/page(page=${i - 1},set=${param.set} ,subject=${param.subject})}"
                               th:text="${i}" data-ajax></a>
                        </li>

                        <li>
                        <span th:if="${salaryDtoPageNo.totalPages == salaryDtoPageNo.pageable.pageNumber + 1}"
                              class="span0">다음</span>

                            <span th:unless="${salaryDtoPageNo.totalPages == salaryDtoPageNo.pageable.pageNumber + 1}">
                            <a th:href="@{/salary/page(page=${salaryDtoPageNo.pageable.pageNumber + 1},set=${param.set} ,subject=${param.subject} )}"
                               class="span1" data-ajax>다음</a>
                        </span>
                        </li>


                        <li>
                        <span th:if="${salaryDtoPageNo.totalPages == salaryDtoPageNo.pageable.pageNumber + 1}"
                              class="span0">끝</span>

                            <span th:unless="${salaryDtoPageNo.totalPages == salaryDtoPageNo.pageable.pageNumber+1}">
                            <a th:href="@{/salary/page(page=${salaryDtoPageNo.totalPages}-1,set=${param.set} ,subject=${param.subject})}"
                               class="span1" data-ajax>끝</a>
                        </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>