@import url(/css/common/reset.css);
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    font-family: Pretendard;
    font-size: 14px;
    color: #373f4c;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 35px;
}
.update-con {
    background-color: #ffffff;
    padding: 30px 50px;
    border-radius: 10px;
}
.title {
    margin-bottom: 10px;
}
.title > h1 > span {
    font-weight: bold;
    font-size: 20px;
}
.title > h1 {
    font-weight: bold;
    font-size: 20px;
}
.update-con > form > ul > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 10px;
}
.update-con > form > ul > li > span, label {
    margin-bottom: 3px;
}
.update-con > form > ul > li > input {
    width: 300px;
    height: 20px;
    padding: 3px 6px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}
/* .update-con > form > ul > li > div {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: start;
} */
.gender-and-class_section {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.gender-and-class_section > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.employee-info-update-btn_box {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.employee-info-update-btn_box > button {
    margin-right: 5px;
    padding: 5px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #2c3e50;
    color: #ffffff;
    font-size: 12px;
}
.postcode-btn_box {
    /* display: flex; */
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: start;
}
.postcode-btn_box > button {
    margin-top: 2px;
    padding: 3.5px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #2c3e50;
    color: #ffffff;
    font-size: 12px;
}
.postcode-btn_box > button:hover {
    filter: brightness(1.2);
}
.employee-info-update-btn_box > button {
    margin-right: 5px;
    padding: 5px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #2c3e50;
    color: #ffffff;
    font-size: 12px;
}
.employee-info-update-btn_box > button:hover {
    filter: brightness(1.2);
}
.employee-info-update-btn_box > input {
    padding: 5px 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #2c3e50;
    color: #ffffff;
    font-size: 12px;
}
.employee-info-update-btn_box > input:hover {
    filter: brightness(1.2);
}